@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

#root {
    font-family: 'Oswald', sans-serif !important;
}

h1 {
    color: #6c757d !important; 
}

h2 {
    color: #6c757d !important;
}

h3 {
    color: #6c757d !important;
}

h4 {
    color: #6c757d !important;
}

h5 {
    color: #6c757d !important;
}

p {
    color: #6c757d !important;
}

#buttons {
    margin-bottom: 125px;
}

#company-logo {
    width: 52px;
}

#app-logo {
    width: 156px;
    padding: 1em;
}

#search-array {
    margin-bottom: 200px;
}

.card-body {
    transition: 500ms;
    width: 25%;
}

.card-body:hover {
    cursor: pointer;
    transform: scale(1.01,1.01);
}

.footer {
    box-shadow: 0px 15px 25px 1px;
}

@media screen and (max-width: 600px) {
    .card-body {
        width:auto !important;
    }
}